.list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 8px 16px;
    box-shadow: rgba(50, 50, 173, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.active-list {
    margin-bottom: 16px;
}

.list-container img {
    cursor: pointer;
}

.left-list {
    display: flex;
    align-items: center;
}

.left-list img {
    margin-right: 8px;
}

.right-list {
    display: flex;
}

.right-list>img:nth-child(2) {
    margin-left: 16px;
}

.completed-list .list-container {
    text-decoration: line-through;
    color: #1f602b;
}

.edit-popup {
    z-index: 2;
    width: 400px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-popup form {
    padding: 16px 32px;
}

.edit-popup label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.edit-popup input {
    width: 280px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
    padding: 8px 16px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

.edit-popup .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.edit-popup .button button {
    margin-left: 16px;
    padding: 0px 16px;
    font-size: 13px;
    width: 25%;
    height: auto;
    font-family: "Poppins", sans-serif;
    border: none;
    color: white;
    background-color: #813dfe;
    border-radius: 8px;
    cursor: pointer;
}

.edit-popup .button p {
    color: #813dfe;
    cursor: pointer;
    font-size: 13px;
}

.overlay {
    position: fixed;
    background-color: darkgray;
    opacity: 0.4;
    inset: 0;
}